@import "tailwindcss";



html,
body {
  min-height: 100%;
}

body {
  background-color: #09090b; 
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


html {
  scroll-behavior: smooth; 
}


::selection {
  background: rgba(147, 51, 234, 0.35); /* subtle purple highlight */
  color: white;
}

img {
  user-select: none;
  -webkit-user-drag: none;
}


@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: max-content; /* allows content to exceed viewport width */
  animation: marquee 40s linear infinite;
  will-change: transform; 
}

/* Pause animation */
.animate-marquee:hover {
  animation-play-state: paused;
}



::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #09090b;
}

::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f3f46;
}
